version: 2.1

jobs:
  build:
    macos:
      xcode: "15.4.0"  # Version d'Xcode souhaitée
    resource_class: m2pro.medium  # Classe de ressource
    steps:
      - checkout

      - run:
          name: Installer Node.js
          command: |
            if ! command -v node &> /dev/null; then
              brew install node
            fi
            node -v
            npm -v

      - run:
          name: Installer les dépendances
          command: npm install

      - run:
          name: Compiler le projet
          command: npm run build  # Modifiez selon votre commande de build

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
