<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2>Login Options</h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMojang" class="loginOptionButton">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="22" height="22" viewBox="0 0 2083.000000 2083.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,2083.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M4410 18905 l0 -915 -130 0 -130 0 0 -1700 0 -1700 175 0 175 0 0
-58 c0 -78 31 -139 85 -166 39 -21 53 -21 780 -21 l740 0 42 22 c29 16 57 46
95 100 45 67 62 82 113 108 l60 30 2003 3 2002 2 0 -140 0 -140 -130 0 -130 0
0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -135
0 -135 0 0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -265 0
-265 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0
0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -135
0 -135 0 0 -135 0 -135 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -130 0
-130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0
0 -260 0 -260 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -135 0 -135 -135
0 -135 0 0 -130 0 -130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 -130 0
-130 -130 0 -130 0 0 -260 0 -260 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0
0 -135 0 -135 -130 0 -130 0 0 -130 0 -130 -265 0 -265 0 0 -1830 0 -1830
-130 0 -130 0 0 -1045 0 -1045 175 0 175 0 0 -58 c0 -78 31 -139 85 -166 l40
-21 6965 -3 c3831 -2 6988 0 7017 3 62 7 109 37 137 85 21 35 21 43 26 1710
l5 1675 30 60 c22 44 43 69 80 95 88 62 122 103 135 163 7 37 10 198 8 503 -3
430 -4 451 -24 489 -27 54 -88 85 -166 85 l-58 0 0 175 0 175 -3332 1 c-1833
0 -3326 3 -3317 7 31 14 66 48 104 102 55 79 89 112 160 160 42 29 76 63 106
107 47 71 88 110 165 162 28 19 66 57 85 85 52 77 87 114 148 156 67 45 82 61
141 148 32 48 64 80 112 112 87 59 103 74 149 142 38 55 66 82 158 150 63 47
80 86 91 213 15 169 38 218 134 280 75 50 89 64 134 131 43 65 79 100 159 153
30 21 67 59 93 97 49 73 85 108 159 157 34 22 71 60 98 99 56 80 78 103 133
141 67 45 98 76 137 137 47 73 73 100 147 150 43 29 77 64 110 111 45 66 71
92 165 161 64 48 80 86 91 219 14 155 39 206 132 269 87 59 103 74 148 141 42
61 79 96 157 148 31 21 68 60 94 99 47 70 88 109 165 161 31 21 69 60 98 102
78 114 117 134 289 149 184 16 212 45 228 238 18 221 70 273 288 292 133 11
171 27 219 91 69 94 95 120 161 165 47 33 82 67 111 110 50 74 77 100 150 147
61 39 92 70 138 138 34 51 73 87 148 138 31 21 69 60 98 102 45 66 71 92 165
161 63 47 80 86 91 213 15 171 36 215 138 284 68 46 83 62 142 149 25 37 64
80 87 97 23 16 57 41 76 55 20 14 50 47 69 75 51 76 91 117 160 164 40 27 78
63 99 94 52 78 91 118 161 166 45 30 79 64 112 112 45 66 71 92 165 161 24 18
54 51 65 73 21 40 21 41 26 1715 l5 1675 30 60 c26 51 41 68 108 113 54 38 84
66 100 95 l22 42 0 1000 c0 990 0 1000 -21 1040 -27 54 -88 85 -166 85 l-58 0
0 175 0 175 -6795 0 -6795 0 0 -915z m13320 -390 l0 -1045 -130 0 -130 0 0
-1175 0 -1175 -130 0 -130 0 0 -395 0 -395 -260 0 -260 0 0 130 0 130 -525 0
-525 0 0 135 0 135 -520 0 -520 0 0 130 0 130 -525 0 -525 0 0 130 0 130 -260
0 -260 0 0 390 0 390 130 0 130 0 0 260 0 260 -650 0 -650 0 0 135 0 135 -785
0 -785 0 0 -135 0 -135 130 0 130 0 0 -130 0 -130 130 0 130 0 0 -130 0 -130
130 0 130 0 0 -130 0 -130 130 0 130 0 0 -260 0 -260 -130 0 -130 0 0 130 0
130 -130 0 -130 0 0 -130 0 -130 -130 0 -130 0 0 130 0 130 -130 0 -130 0 0
130 0 130 -525 0 -525 0 0 -130 0 -130 -1045 0 -1045 0 0 130 0 130 -130 0
-130 0 0 130 0 130 -260 0 -260 0 0 130 0 130 -130 0 -130 0 0 130 0 130 -390
0 -390 0 0 -130 0 -130 -265 0 -265 0 0 130 0 130 -260 0 -260 0 0 135 0 135
655 0 655 0 0 130 0 130 -130 0 -130 0 0 130 0 130 -395 0 -395 0 0 130 0 130
-130 0 -130 0 0 130 0 130 130 0 130 0 0 785 0 785 6530 0 6530 0 0 -1045z"/>
<path d="M9900 19040 l0 -260 -130 0 -130 0 0 -395 0 -395 -135 0 -135 0 0
-520 0 -520 -130 0 -130 0 0 -135 0 -135 130 0 130 0 0 135 0 135 135 0 135 0
0 260 0 260 130 0 130 0 0 130 0 130 130 0 130 0 0 130 0 130 130 0 130 0 0
130 0 130 130 0 130 0 0 265 0 265 -260 0 -260 0 0 260 0 260 -130 0 -130 0 0
-260z"/>
<path d="M7020 17730 l0 -260 130 0 130 0 0 -130 0 -130 135 0 135 0 0 -130 0
-130 130 0 130 0 0 260 0 260 -130 0 -130 0 0 130 0 130 -135 0 -135 0 0 130
0 130 -130 0 -130 0 0 -260z"/>
<path d="M14340 15900 l0 -260 130 0 130 0 0 -260 0 -260 260 0 260 0 0 130 0
130 655 0 655 0 0 260 0 260 -395 0 -395 0 0 -130 0 -130 -390 0 -390 0 0 260
0 260 -260 0 -260 0 0 -260z"/>
<path d="M15120 16030 l0 -130 130 0 130 0 0 130 0 130 -130 0 -130 0 0 -130z"/>
</g>
</svg>
                        <span>ArkaniaZ Account</span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">Cancel</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>